@charset "UTF-8";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #2B2D2D;
  font-family: "遊ゴシック", "YuGothic", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック";
}

/* Grid */

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -15px; 
  /* グリッドを使わないコンテンツとグリッドを使うコンテンツとの位置を調整 */
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

input  {
  height: 3em;
  max-width: 80%;
  border-radius: .4em;
  border: .2em solid #DEDEDE;
}


/* .gender {
  display: block;
  width: 100%;
} */

.country {
  display: block;
}


select {
  font-size: 1em;
  width: 5em;
  height: 3em;
  border: 2px solid #DEDEDE;
  margin: .5em auto 0 15px;

}

textarea {
  border-radius: .5em;
  border: .2em solid #DEDEDE;
  /* margin: 0 15px; */
}

.lg-height {
  height: 7em;
}

button {
  background-color:rgb(224, 143, 143);
  margin: 1em auto 0 15px;
  color: white;
  font-size: 1em;
  width: 6em;
  height: 3em;
  border-radius: .3em;
  box-shadow: 0 .2em 0 rgba(0,0,0,0.2);
}

button:hover {
  box-shadow: none;
  background-color:rgb(207, 112, 112);
  color: white;
  transform:translateY(.1em);
}


.col-1 {
  flex-basis: 16.67%;
}

.col-2 {
  flex-basis: 33.33%;
}

.col-3 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 66.67%;
}

.col-5 {
  flex-basis: 83.33%;
}

.col-6 {
  flex-basis: 100%;
}

@media (min-width: 600px) {
  button {
    float: right;
  }
  .gender label {
    text-align: left;
  }
  label {
    text-align: right;
  }

  .col-lg-1 {
  flex-basis: 16.67%;
}

  .col-lg-2 {
    flex-basis: 33.33%;
  }

  .col-lg-3 {
    flex-basis: 50%;
  }

  .col-lg-4 {
    flex-basis: 66.67%;
  }

  .col-lg-5 {
    flex-basis: 83.33%;
  }

  .col-lg-6 {
    flex-basis: 100%;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
}


col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6 {
  padding: 0 15px;
}

/* main */

.form-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}
